.mainWrapper {
    width: 30vw;
    height: 70vh;
    margin: auto;
    margin-top: 10vh;
}

.headerWrapper {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gtWrapper, .lvWrapper, .pvWrapper, .cvWrapper {
    height: 25%;
}

.pagesWrapper {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.newsWrapper, .portfolioWrapper, .shopWrapper, .profileWrapper, .profileVitrineWrapper {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.profileWrapper, .profileVitrineWrapper, .newsWrapper, .portfolioWrapper, .shopWrapper {
    display: none;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    cursor: pointer;
}

.recoWrapper {
    margin: 2vh 0 2vh 0;
}
